<div class="logo-container">
  <%= image_tag 'pixel_heart.png', class: 'big-logo' %>
</div>
<div class="post-card text-center hello-card rounded-lg">
  我们已经相遇了<%= days_distances %>天，现在我们在一起。
</div>
<div class="home-title">
  关于
</div>
<p class="home-article">
  对不起，这里还没有文案🥳 🥳
</p>