<div class="flex items-center justify-between">
  <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Post</h1>
</div>

<div class="mt-6">
  <%= turbo_frame_tag "page_handler", autoscroll: "true" %>
  <div id="articles">
    <%= render @articles %>
  </div>
  <%= render "pager", pagy: @pagy %>
</div>
