<div class="flex items-center justify-between">
  <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Post</h1>
</div>
<div class="mt-6">
  <% @articles.each do |article| %>
    <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md mb-2">
      <div class="flex justify-between items-center">
        <span class="font-light text-gray-600"><%= article.updated_at.strftime('%Y-%m-%d') %></span>
        <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#"><%= article.category.name %></a>
      </div>
      <div class="mt-2">
        <a class="text-2xl text-gray-700 font-bold hover:underline" href="#"><%= article.title %></a>
        <p class="mt-2 text-gray-600"><%= article.content.first(350) %>...</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <a class="text-blue-500 hover:underline" href="#">Read more</a>
        <div>
            <a class="flex items-center" href="#">
              <h1 class="text-gray-700 font-bold hover:underline">UoooBarry</h1>
            </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
