/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2D3748;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover {
  background: #2D3748;
}

.post-content {
  white-space: pre-line;
}

body {
  background-color: #eee4d6;
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: #E2E8F0;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
}

.post-card {
  background-color: #f6f1ec;
}

.cate-card {
  background-color: #f6f1ec;
}

.text-center {
  text-align: center;
}

.logo-container {
  margin: auto;
  margin-top: -20px;
  margin-bottom: 40px;
  width: 280px;
}

.big-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hello-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-title {
  font-size: 20px;
  line-height: 1.33;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-article {
  overflow-wrap: break-word;
}