<nav class="nav-bg px-6 py-4">
  <div class="flex flex-col container mx-auto md:flex-row md:items-center space-x-4">
      <div class="flex justify-between items-center md:mr-2">
          <div>
              <a class="text-xl font-bold md:text-2xl" href="/">Serendipity</span></a>
          </div>
          <div>
              <button type="button" id="expend" class="block text-gray-800 hover:text-gray-600 focus:text-gray-600 focus:outline-none md:hidden">
                  <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                      <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                  </svg>
              </button>
          </div>
      </div>
      <div class="flex flex-col md:flex-row md:mx-4 transition hidden md:block" id="menu">
          <a class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" href="/"><%= t('home') %></a>
          <a class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0" href="/articles"><%= t('articles') %></a>
          <% if verified? %>
            <%= link_to 'New category', new_category_path, class: 'my-1 text-gray-800 hover:text-red-500 md:mx-4 md:my-0' %>
            <%= link_to 'New Article', new_article_path, class: 'my-1 text-gray-800 hover:text-red-500 md:mx-4 md:my-0' %>
          <% end %>
      </div>
  </div>
</nav>

<script>
var isOpen = false;

document.getElementById('expend').addEventListener('click', function() {
    isOpen = !isOpen;

    if (isOpen) {
        document.getElementById('menu').classList.remove('hidden');
    } else {
        document.getElementById('menu').classList.add('hidden');
    }
})

</script>

<style>
#menu {
    transition:visibility 0.3s linear,opacity 0.3s linear;
}
</style>